:root {
  --primary-color: hsl(183, 100%, 15%);
  --primary-color-light: hsl(186, 14%, 43%);
  --secondary-color: hsl(185, 41%, 84%);
  --secondary-color-light: hsl(189, 41%, 97%);
  --third-color: hsl(184, 14%, 56%);
}

body {
  background-color: var(--secondary-color);
}
.title {
  color: var(--primary-color);
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.splitter-card {
  padding: 20px;
  padding-bottom: 220px;
  display: grid;
  grid-template-rows: 25% 50% 25% 45%;
  border-radius: 15px;
  background-color: white;
  font-family: "Space Mono", monospace;
}

.card-bill {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}
.title-bill {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.input-bill {
  text-align: right;
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondary-color-light);
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position-y: 50%;
  background-position-x: 5%;
}
.card-tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title-tip title-tip"
    "5 10"
    "15 25"
    "50 custom"
    ". .";
}
.title-tip {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  grid-area: title-tip;
}
.number-tip {
  margin: 5px;
  font-weight: 500;
  max-height: 36px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.number-tip:hover {
  transition: all 1s;
  background-color: #26c2ad;
}
.custom-tip {
  max-height: 36px;
  margin: 5px;
  font-family: "Space Mono", monospace;
  background-color: var(--secondary-color-light);
  border: none;
  border-radius: 5px;
}
.input-custom {
  max-width: 100px;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
.input-custom::placeholder {
  color: var(--primary-color-light);
  opacity: 1;
  transition: opacity 1s;
}
.input-custom:focus::placeholder {
  opacity: 0;
}
.card-people {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}
.title-people {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.input-people {
  text-align: right;
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondary-color-light);
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position-y: 50%;
  background-position-x: 5%;
}

.card-result {
  display: flex;
  padding: 20px;
  font-size: 12px;
  border-radius: 10px;
  max-height: max-content;
  justify-content: center;
  background-color: var(--primary-color);
  flex-direction: column;
}
.card-tip-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
.tip-amount {
  display: flex;
  flex-direction: column;
  color: white;
}
.person {
  margin-top: 5px;
  color: var(--primary-color-light);
}
.card-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.total {
  display: flex;
  flex-direction: column;
  color: white;
}
.dolar {
  font-size: 25px;
  font-weight: 700;
  color: #26c2ad;
}
.result {
  color: #26c2ad;
}
.reset { 
  background-color: #26c2ad;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--primary-color);
  font-weight: 700;
}