:root {
  --primary-color: hsl(183, 100%, 15%);
  --primary-color-light: hsl(186, 14%, 43%);
  --secondary-color: hsl(185, 41%, 84%);
  --secondary-color-light: hsl(189, 41%, 97%);
  --third-color: hsl(184, 14%, 56%);
}

body {
  background-color: var(--secondary-color);
  padding: 40px;
}
.title {
  color: var(--primary-color);
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.splitter-card {
  padding: 20px;
  display: grid;
  grid-template-rows: 20% 150px 60px 150px;
  border-radius: 15px;
  background-color:white;
}

.card-bill {
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
}
.title-bill {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.bill-input {
  text-align: right;
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondary-color-light);
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position-y: 50%;
  background-position-x: 5%;
}
